<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Finance</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
		.navbar {
            position: fixed;
            width: 100%;
            z-index: 4;
            top: 0;
            background: linear-gradient(90deg, #0f4275 0%, #0f5422 100%);
        }
        .container {
            padding-top: 70px;
        }
        .table th {
        	font-weight: normal; 
        	background-color: #0f4275;
        	color: white;
        }
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-dark shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand text-white" th:href="@{/admin/home}">Admin Dashboard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

	<div class="container mt-3">
	
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="/admin/home">Home</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Finance</li>
		  </ol>
		</nav>
		
		<div class="row">
			<h1 class="mb-3 col-md-8" >Expense Records</h1>
			<div class="mb-3 col-md-4 d-flex justify-content-end gap-4">
				<a href="/admin/finance/create">
			        <button class="btn btn-outline-primary">Add Record</button>
			    </a>
			</div>
		</div>
	    
	    <p class="col-md-12 mb-3 text-danger" th:if="${errorMessage}" th:text="${errorMessage}"></p>
	    
	    <table class="table table-striped shadow-lg">
	        <thead>
	            <tr>
	                <th>ID</th>
	                <th>Project</th>
	                <th>Date</th>
	                <th>Expense Type</th>
	                <th>Description</th>
	                <th>Amount</th>
	                <th>Paid To</th>
	                <th>Payment Method</th>
	                <th>Invoice Number</th>
	                <th>Approval Status</th>
	                <th>Action</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr th:each="finance : ${financeRecords}">
	                <td th:text="${finance.id}"></td>
	                <td th:text="${finance.project.name}"></td>
	                <td th:text="${finance.date}"></td>
	                <td th:text="${finance.expenseType}"></td>
	                <td th:text="${finance.description}"></td>
	                <td th:text="${finance.amount}"></td>
	                <td th:text="${finance.paidTo}"></td>
	                <td th:text="${finance.paymentMethod}"></td>
	                <td th:text="${finance.invoiceNumber}"></td>
	                <td th:text="${finance.approvalStatus}"></td>
	                <td>
                        	<a 	th:href="@{/admin/fianance/delete/{id}(id=${finance.id})}"
                        		class="btn btn-sm btn-danger"
                        		href="/admin/finance"
                        		onclick="return confirmDelete(event, this);">Delete</a>
	                </td>
	            </tr>
	        </tbody>
	    </table>
   	</div>
   	<script>
        function confirmDelete(event, element) {
            event.preventDefault();
            if (confirm("Are you sure you want to delete this record?")) {
                window.location.href = element.getAttribute("href");
            }
        }
    </script>
</body>
</html>
 